# FAANGT Notebook
This notebook is a rough draft to design and test FAANGT.py module functions

In [19]:
# Importing Timeseries function from alpha_vantage SDK
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import os
from dotenv import load_dotenv
import time

from pathlib import Path

In [2]:
# Load in API key
load_dotenv()
alpha_vantage_key = os.getenv('ALPHAVANTAGE_API_KEY')

# Confirm the availability of your Mapbox API access token by checking its type
if type(alpha_vantage_key) == type(''):
    print('Key is available')
else: 
    print('Try again')

Key is available

In [4]:
ts = TimeSeries(key = alpha_vantage_key, output_format='pandas') #Note 500 requests per day cap, 5 per min
FAANGT_list=['FB','AAPL','AMZN','NFLX', 'GOOG', 'TSLA']
FAANGT_df_list = [] #iniate df list for later concatenation
FAANGT_close_df_list = [] #iniate df list for just close prices later concatenation
for ticker in FAANGT_list:
    ticker_data, meta_data = ts.get_daily(symbol=ticker, outputsize='full') #using Alpha Vantage API to grab S&P 500 ETF (ticker symbol = SPY), gives 20+ years of price data
    ticker_data.columns = [ticker + ' open', ticker + ' high', ticker + ' low', ticker + ' close', ticker + ' volume'] #rename columns automatically
    FAANGT_df_list.append(ticker_data) #add dataframe to the list
    FAANGT_close_df_list.append(ticker_data[ticker + ' close']) # Just the 'close' column
    time.sleep(25) #Note 500 requests per day cap, 5 per min

FAANGT_df = pd.concat(FAANGT_df_list, axis=1, join='outer')
FAANGT_close_df = pd.concat(FAANGT_close_df_list, axis=1, join='outer')

In [5]:
#check
FAANGT_df

,FB open,FB high,FB low,FB close,FB volume,AAPL open,AAPL high,AAPL low,AAPL close,AAPL volume,...,GOOG open,GOOG high,GOOG low,GOOG close,GOOG volume,TSLA open,TSLA high,TSLA low,TSLA close,TSLA volume
date,,,,,,,,,,,,,,,,,,,,,
1999-11-01,NaN,NaN,NaN,NaN,NaN,80.00,80.69,77.37,77.62,2487300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-02,NaN,NaN,NaN,NaN,NaN,78.00,81.69,77.31,80.25,3564600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-03,NaN,NaN,NaN,NaN,NaN,81.62,83.25,81.00,81.50,2932700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-04,NaN,NaN,NaN,NaN,NaN,82.06,85.37,80.62,83.62,3384700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-05,NaN,NaN,NaN,NaN,NaN,84.62,88.37,84.00,88.31,3721500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-11,300.7500,306.84,299.6900,306.53,18920086.0,123.50,126.27,122.77,125.91,126142826.0,...,2291.86,2322.0000,2283.00,2308.76,1605548.0,599.2400,627.0999,595.600,617.20,46503896.0
2021-05-12,301.1300,304.96,298.1900,302.55,24641010.0,123.40,124.64,122.25,122.77,112172282.0,...,2261.71,2285.3700,2230.05,2239.08,1746664.0,602.4900,620.4100,586.765,589.89,33823646.0
2021-05-13,306.0833,308.86,302.7701,305.26,18079160.0,124.58,126.15,124.26,124.97,105861339.0,...,2261.09,2276.6012,2242.72,2261.97,1333508.0,601.5450,606.4599,559.650,571.69,44184916.0
2021-05-14,309.5400,316.85,309.0800,315.94,19245724.0,126.25,127.89,125.85,127.45,81917951.0,...,2291.83,2321.1400,2283.32,2316.16,1331248.0,583.4100,592.8700,570.460,589.74,33370856.0
2021-05-17,313.5500,315.68,311.5800,315.46,15356141.0,126.82,126.93,125.17,126.27,73810407.0,...,2309.32,2323.3400,2295.00,2321.41,991229.0,575.5531,589.7300,561.200,576.83,32118062.0

In [6]:
#check FAANGT_close_df
FAANGT_close_df

,FB close,AAPL close,AMZN close,NFLX close,GOOG close,TSLA close
date,,,,,,
1999-11-01,NaN,77.62,69.13,NaN,NaN,NaN
1999-11-02,NaN,80.25,66.44,NaN,NaN,NaN
1999-11-03,NaN,81.50,65.81,NaN,NaN,NaN
1999-11-04,NaN,83.62,63.06,NaN,NaN,NaN
1999-11-05,NaN,88.31,64.94,NaN,NaN,NaN
...,...,...,...,...,...,...
2021-05-11,306.53,125.91,3223.91,495.08,2308.76,617.20
2021-05-12,302.55,122.77,3151.94,484.98,2239.08,589.89
2021-05-13,305.26,124.97,3161.47,486.66,2261.97,571.69
2021-05-14,315.94,127.45,3222.90,493.37,2316.16,589.74
2021-05-17,315.46,126.27,3270.39,488.94,2321.41,576.83

In [24]:
# These directories will work only when called as function in Project Moon Notebook (DO NOT RUN in this notebook if in DATA/ directory or subdirs)
FAANGT_close_df.to_csv('Data/csv_files/FAANGT_close_data.csv') 
FAANGT_df.to_csv('Data/csv_files/FAANGT_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Data\\csv_files\\FAANGT_close_data.csv'

In [18]:
help(pd.DataFrame.to_csv)

Help on function to_csv in module pandas.core.generic:

to_csv(self, path_or_buf: Union[str, pathlib.Path, IO[~AnyStr], NoneType] = None, sep: str = ',', na_rep: str = '', float_format: Union[str, NoneType] = None, columns: Union[Sequence[Union[Hashable, NoneType]], NoneType] = None, header: Union[bool, List[str]] = True, index: bool = True, index_label: Union[bool, str, Sequence[Union[Hashable, NoneType]], NoneType] = None, mode: str = 'w', encoding: Union[str, NoneType] = None, compression: Union[str, Mapping[str, str], NoneType] = 'infer', quoting: Union[int, NoneType] = None, quotechar: str = '"', line_terminator: Union[str, NoneType] = None, chunksize: Union[int, NoneType] = None, date_format: Union[str, NoneType] = None, doublequote: bool = True, escapechar: Union[str, NoneType] = None, decimal: Union[str, NoneType] = '.', errors: str = 'strict') -> Union[str, NoneType]
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
        one of the above, other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip' and 'bz2'
           as well as 'zip'.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP