# sp500 Notebook
This notebook is a rough draft to design and test sp500.py module functions

In [5]:
# Importing Timeseries function from alpha_vantage SDK
from alpha_vantage.timeseries import TimeSeries
import os
from dotenv import load_dotenv
import timne

In [6]:
# Load in API key
load_dotenv()
alpha_vantage_key = os.getenv('ALPHAVANTAGE_API_KEY')

# Confirm the availability of your Mapbox API access token by checking its type
if type(alpha_vantage_key) == type(''):
    print('Key is available')
else: 
    print('Try again')

Key is available

In [10]:
ts = TimeSeries(key = alpha_vantage_key, output_format='pandas') #Note 500 requests per day cap, 5 per min
spy_data, meta_data = ts.get_daily(symbol='SPY', outputsize='full') #using Alpha Vantage API to grab S&P 500 ETF (ticker symbol = SPY), gives 20+ years of price data

time.sleep(25) #Note 500 requests per day cap, 5 per min
spy_data
time.sleep(25) #Note 500 requests per day cap, 5 per min

vixy_data, meta_data = ts.get_daily(symbol= 'VIXY', outputsize='full')
vixy_data
spy_data

            1. open  2. high  3. low  4. close   5. volume
date
2021-05-14     8.47     8.48   7.810    7.9100  12917582.0
2021-05-13     9.33     9.35   8.750    8.9600  23991505.0
2021-05-12     8.76    10.22   8.735    9.8900  43572279.0
2021-05-11     8.30     8.63   8.040    8.4400  25393491.0
2021-05-10     7.50     7.86   7.370    7.8300  11658074.0
...             ...      ...     ...       ...         ...
2011-01-10    79.64    80.87  77.760   77.8800     70182.0
2011-01-07    77.24    80.01  76.180   78.0400     42977.0
2011-01-06    77.44    78.68  76.870   77.8800     83300.0
2011-01-05    80.05    80.10  77.180   77.5499     74240.0
2011-01-04    79.14    81.35  79.140   79.2300    112200.0

[2608 rows x 5 columns]